PLANE_HOST=plane.brasaai.com.br
PLANE_BASE_URL=https://plane.brasaai.com.br
STATEFUL_NODE_HOSTNAME=digitaocean-debian-s-4vcpu-8gb-brasalabs-01

IMAGE_REGISTRY=ghcr.io/brasalabs6/plane
APP_RELEASE=main

WEB_REPLICAS=1
SPACE_REPLICAS=1
ADMIN_REPLICAS=1
API_REPLICAS=1
WORKER_REPLICAS=1
BEAT_WORKER_REPLICAS=1
LIVE_REPLICAS=1

PGHOST=plane-db
PGDATABASE=plane
POSTGRES_USER=plane
POSTGRES_PASSWORD=change-me
POSTGRES_DB=plane
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data
DATABASE_URL=postgresql://plane:change-me@plane-db:5432/plane

REDIS_HOST=plane-redis
REDIS_PORT=6379
REDIS_URL=redis://plane-redis:6379/

RABBITMQ_HOST=plane-mq
RABBITMQ_PORT=5672
RABBITMQ_USER=plane
RABBITMQ_PASSWORD=change-me
RABBITMQ_VHOST=plane
AMQP_URL=amqp://plane:change-me@plane-mq:5672/plane

SECRET_KEY=change-me
LIVE_SERVER_SECRET_KEY=change-me

USE_MINIO=1
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_S3_ENDPOINT_URL=http://plane-minio:9000
AWS_S3_BUCKET_NAME=uploads

FILE_SIZE_LIMIT=5242880
GUNICORN_WORKERS=1
MINIO_ENDPOINT_SSL=0
API_KEY_RATE_LIMIT=60/minute
PLANE_DATA_ROOT=/opt/plane
